#header {
  background-color: #000000;
  background-image: none;
}

.breadcrumb {
  display: none;
}

.region-header {
  float: left;
}

.with-secondary-menu .region-header {
  margin-top: 1em;
}

h1.header-title {
  color: #FFFFFF;
  font-size: 2.5em;
  margin: 0;
}

h2.header-slogan {
  color: white;
  font-size: 1.85em;
  font-style: italic;
  margin: 0;
}

#page-wrapper {
}

#footer-wrapper {
  background: none repeat scroll 0 0 #000000;
}

.sidebar .block {
  background-color: #63A8FC;
  border-color: #0419F9;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

.sidebar h2 {
  text-shadow: none;
}

#footer {
  color: #FFFFFF;
  font-size: 13pt;
  text-align: center;
  margin-top: 0;
}

h1#page-title {
  color: #030A60;
}

h2 {
  color: black;
  font-size: 1.6em;
}

h3 {
  color: #460360;
  font-size: 1.5em;
}

#block-block-2 {
  font-size: 12pt;
  text-align: center;
}

#footer .region {
  margin-top: 0;
}

.home-slogan {
  text-align: center;
}

.home-table {
  width: 25%;
}

.home-table-group {
}

tr, tr.even {
  background: none;
}

h3.photo-title {
  color: black;
  font-style: italic;
  margin-left: -2px;
  margin-top: -5px;
}

h3.homepage-title {
  background: #6D7B8D;
  border: 1px solid black;
  color: white;
  font-style: italic;
  margin: 0;
  text-align: center;
}